{inc:header}
    <div id="admintop">
        <div id="toplogo">taoCMS Website Content Management System</div>
        <div id="topnav">
            Welcome, {username} |
            <a href="http://www.taocms.org/" target="_taocms">Technical Support</a> |
            <a href="admin.php?action=frame&ctrl=main" target="mainFrame">Admin Home</a> |
            <a href="../" target="_blank">Website Home</a> |
            <a href="admin.php?action=frame&ctrl=logout" class="no_line">Logout</a>
        </div>
    </div>
</body>
</html>
